h1{
    text-align: center;
    background-color: aquamarine;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

}
.button-1,
.button-2, 
.button-3{
  background-color: aquamarine;
  color: #fff;              
  padding: 10px 20px;      
  border-radius: 5px;     
  cursor: pointer;         
  font-size: 16px;        
  text-decoration: none;   
  display: inline-block;   
  text-align: center;      
  transition: background-color 0.3s ease; 
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color:azure;
    text-align: left;
}
.container{
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: aquamarine;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 5px white;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
button{
    
    padding: 10px;
    width: 100%;
    background-color: rgb(18, 116, 159);
    color:black;
    cursor: pointer;
    border:none;
    margin-top: 10px;
}
#result{
    margin-top: 20px;
font-weight: bold;
text-align: justify;
}
.gender{
    margin-top: 10px;
}
